
.welcome-page{
    margin: 0;
    padding: 0;
    font-family: consolas;
    .welcome-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        min-height: 100vh;
        color: rgb(33, 12, 88);
        .wavy{
            margin: 13%;
            position: relative;
            -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2));
            span{
                display: inline-block;
                font-size: 2.5em;
                text-transform: uppercase;
                animation: animate 1s ease-in-out infinite;
                animation-delay: calc(0.1s*var(--i));
            }
        }
        button{
            border-color: rgb(11, 167, 185);
        }
    }
}

@keyframes animate{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%,100%{
        transform: translateY(0px);
    }
}
